{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-bottom" id="menu">
    <ul class="nav navbar-nav">
      <li><a class="nav-home" href="/"><span></span>首页</a></li>
      <li><a class="nav-product" href="/items/"><span></span>全部旅途</a></li>
      <li><a class="nav-cart" href="/cart/"><span></span>购物车</a></li>
      <li class="active"><a class="nav-member" href="/me/"><span></span>个人中心</a></li>
    </ul>
  </nav>
<!--导航 end-->
<nav class="navbar navbar-inverse" id="menuTop">个人中心</nav>
<!--顶部栏目 end-->
<form id="loginform" method="post" action="">{% csrf_token %}
<div class="orderMan">
  <div class="orderInfora">
    <p><img src="{% static 'img/orderTou.jpg' %}"></p>
    <span>
      {{ form.nickname.value }}<em>({{ form.phone.value }})</em>
      <i>个性签名：想去哪玩去哪玩</i>
    </span>
    <div class="clearfix"></div>
  </div>
  <div class="orderInforb">
    <ul>
      <li><span>昵称：</span>
        <input type="text" class="form-control txta" value="{{ form.nickname.value }}" name="nickname">
        <div class="clearfix"></div>
      </li>
      <li>
        <span>性别：</span>
        <select class="form-control sele" id="id_gender" name="gender">
          <option value="">---------</option>
          <option value="1" {% if form.gender.value == 1 %}selected="selected"{% endif %}>男</option>
          <option value="0" {% if form.gender.value == 0 %}selected="selected"{% endif %}>女</option>
        </select>
        <div class="clearfix"></div>
      </li>

      <li><span>电话：<em>（备用联系不做公开）</em></span>
        <input type="text" class="form-control txta" value="{{ form.phone.value }}"  name="phone">
        <div class="clearfix"></div>
      </li>
      <li><span>QQ：<em>（备用联系不做公开）</em></span>
        <input type="text" class="form-control txta" value="{{ form.qq.value }}" name="qq">
        <div class="clearfix"></div>
      </li>
      <li><span>QQ：<em>（备用联系不做公开）</em></span>
        <input type="text" class="form-control txta" value="{{ form.weixin.value }}" name="weixin">
        <div class="clearfix"></div>
      </li>
      <li><span>地址：<em>（备用联系不做公开）</em></span>
        <input type="text" class="form-control txtb" value="{{ form.address.value }}" name="address">
        <div class="clearfix"></div>
      </li>
    </ul>
    <div class="orderBtn">
      <button type="submit" class="btn btn-default">保存</button>
    </div>
  </div>
</div>
</form>
{% endblock %}